/* All markup */


body {font-family: sans-serif;
      font-size: 1.0em;
      width: 320px;  
      color: #1a1a50;
}
p.toolbar {background-color: #1a1a50;
           color: white;
}

a {color: #1a1a50;
}



/* Personal section */

div#per {position: absolute;
         width: 320px;
         height: 600px;
/*        background-color:rgba(236,246,192,1); */
         z-index: 10;
         left: 0%;
         top: 0;
         box-shadow: -6px 6px 10px #666;
         background-image: url("IMG_3279.jpg");
         color: #1a1a50;
}
#perTool {color: white;
          margin: 0 0 0 5px;
}
#perTitle {margin: 0 0 0 60px;
}
 
img.extn {width:40px;
          height: 40px;
          margin: 0 0 0 25px;
}
ul#perContacts {width: 275px;
}
.perData {font-size: 1.0em;
}

/* Navigation section */

div#nav {position: absolute;
         width: 320px;
         height: 600px;
         background-color:rgba(236,246,192,1);
         z-index: 5;
         left: 0%;
         top: 0;
         box-shadow: -6px 6px 10px #666;
}
#navTool {color:white;
          margin: 0 0 0 5px;
}
#navTool:active{color: yellow;
}
#navTitle {margin: 0 0 0 100px;
}

/* Employment section */

div#emp {position: absolute;
         width: 320px;
         height: 600px;
         background-color:rgba(236,246,192,1);
         left: 3000px;
         top: 0px;
         box-shadow: 6px 6px 10px #666;
         z-index: 15;
}
#empTool {color: white;
          margin: 0 0 0 5px;
}
#empTool:active{color: yellow;
}
#empTitle {margin: 0 0 0 100px;
}
/* Education section */

div#edu {position: absolute;
         width: 320px;
         height: 600px;
         background-color:rgba(236,246,192,1);
         left: 3100px;
         top: 0px;
         box-shadow: 6px 6px 10px #666;
         z-index: 15;
}
#eduTool {color: white;
          margin: 0 0 0 5px;
}
#eduTool:active{color: yellow;
}
#eduTitle {margin: 0 0 0 100px;
}

/* Project section */

div#proj {position: absolute;
         width: 320px;
         height: 600px;
         background-color:rgba(236,246,192,1);
         left: 3200px;
         top: 0px;
         box-shadow: 6px 6px 10px #666;
         z-index: 15;
}
#projTool {color:white;
          margin: 0 0 0 5px;
}
#projTool:active{color: yellow;
}
#projTitle {margin: 0 0 0 110px;
}

/* Lang section */

div#lang {position: absolute;
         width: 320px;
         height: 600px;
         background-color:rgba(236,246,192,1);
         left:3300px;
         top: 0px;
         box-shadow: 6px 6px 10px #666;
         z-index: 15;

}
#langTool {color: white;
          margin: 0 0 0 5px;
}
#langTool:active{color: yellow;
}
#langTitle {margin: 0 0 0 100px;
} 

/* Trending section */

div#tre {position: absolute;
         width: 320px;
         height: 600px;
         background-color:rgba(236,246,192,1);
         left:3400px;
         top: 0px;
         box-shadow: 6px 6px 10px #666;
         z-index: 15;
}
#treTool {color: white;
          margin: 0 0 0 5px;
}
#treTool:active{color: yellow;
}
#treTitle {margin: 0 0 0 100px;
}
