/* All markup */


body {font-family: sans-serif;
      font-size: 1.2em;
      width: 360px;  
      color: black;
      /*color: #1a1a50; */
}
p.toolbar {background-color: #1a1a50;
           color: white;
           padding: 10px;
}

a {/* color: #1a1a50; */
  color: black;
}

.tool {margin: 5px 0 0 0;}

p#blurb {margin: 30px;}
 
/* Personal section */

div#per {position: absolute;
          width: 360px;
          height: 600px;
       
          z-index: 10;
          left: 0%;
          top: 0;
          box-shadow: -6px 6px 10px #666;
          background-image: url("20150717_145334y1c1.jpg");
          /* background-color:rgba(236,246,192,.1); */ 
          /*background-image: url("IMG_3279.JPG"); */
          /*   color: #1a1a50; */
          /* opacity: 0.5; */
          /*filter: alpha(opacity=50); */
}
/* #perTool {color: white;
          margin: 0 0 0 5px;
} */

#perTitle {margin: 0 0 0 60px;
}
 
img.extn {width:30px;
          height: 30px;
          margin: 0 0 0 25px;
}
ul#perContacts {width: 275px;
}
.perData {font-size: 1.0em;
}

p.perBlurb {margin: 30px;}

/* Navigation section */

div#nav {position: absolute;
         width: 360px;
         height: 600px;
         background-color:rgba(236,246,192,1);
         z-index: 5;
         left: 0%;
         top: 0;
         box-shadow: -6px 6px 10px #666;
}
/*#navTool {color:white;
          margin: 5px 0 0 5px; 
} */


/* #navTool:active{color: yellow;
} */
#navTitle {margin: 0 0 0 100px;
}

/* Employment section */

div#emp {position: absolute;
         width: 360px;
         height: 600px;
         background-color:rgba(236,246,192,1);
         left: 3000px;
         top: 0px;
         box-shadow: 6px 6px 10px #666;
         z-index: 15;
}

/* #empTool {color: white;
          margin: 0 0 0 5px;
}
#empTool:active{color: yellow;
} */

#empTitle {margin: 0 0 0 100px;
}
/* Education section */

div#edu {position: absolute;
         width: 360px;
         height: 600px;
         background-color:rgba(236,246,192,1);
         left: 3100px;
         top: 0px;
         box-shadow: 6px 6px 10px #666;
         z-index: 15;
}

/* #eduTool {color: white;
          margin: 0 0 0 5px;
}
#eduTool:active{color: yellow;
} */

#eduTitle {margin: 0 0 0 100px;
}

/* Project section */

div#proj {position: absolute;
         width: 360px;
         height: 600px;
         background-color:rgba(236,246,192,1);
         left: 3200px;
         top: 0px;
         box-shadow: 6px 6px 10px #666;
         z-index: 15;
}

/* #projTool {color:white;
          margin: 0 0 0 5px;
}
#projTool:active{color: yellow;
} */

#projTitle {margin: 0 0 0 110px;
}

/* Lang section */

div#lang {position: absolute;
         width: 360px;
         height: 600px;
         background-color:rgba(236,246,192,1);
         left:3300px;
         top: 0px;
         box-shadow: 6px 6px 10px #666;
         z-index: 15;

}

/* #langTool {color: white;
          margin: 0 0 0 5px;
}
#langTool:active{color: yellow;
} */

#langTitle {margin: 0 0 0 100px;
} 

/* Trending section */

div#tre {position: absolute;
         width: 360px;
         height: 600px;
         background-color:rgba(236,246,192,1);
         left:3400px;
         top: 0px;
         box-shadow: 6px 6px 10px #666;
         z-index: 15;
}

/* #treTool {color: white;
          margin: 0 0 0 5px;
}
#treTool:active{color: yellow;
} */

#treTitle {margin: 0 0 0 100px;
}
