/* All markup */


body {font-family: sans-serif;
      font-size: 1.0em;
      width: 320px;
      color: #1a1a50;
}
p.toolbar {background-color: #1a1a50;
           color: white;
}



/* Personal section */

div#per {position: absolute;
         width: 320px;
         height: 600px;
/*        background-color:rgba(236,246,192,1); */
         z-index: 10;
         left: 0%;
         top: 0;
         box-shadow: -6px 6px 10px #666;
         background-image: url("IMG_3279.JPG");
}
#perTool {color: red;
}
#perTitle {margin: 0 0 0 60px;
}
 
img#face {width:200px;
          height: 200px;
          margin: 0 0 0 50px;
}
ul#perContacts {width: 275px;
}
.perData {font-size: 1.0em;
}



/* Employment section */

div#emp {position: absolute;
         width: 320px;
         height: 600px;
         background-color:rgba(236,246,192,1);
         left: 0%;
         top: 700px;
         box-shadow: 6px 6px 10px #666;
         z-index: 15;
}
#empTool {color: red;
}
#empTool:active{color: yellow;
}
#empTitle {margin: 0 0 0 100px;
}
/* Education section */

div#edu {position: absolute;
         width: 320px;
         height: 600px;
         background-color:rgba(236,246,192,1);
         left: 30%;
         top: 700px;
         box-shadow: 6px 6px 10px #666;
         z-index: 15;
}
#eduTool {color: red;
}
#eduTool:active{color: yellow;
}
#eduTitle {margin: 0 0 0 100px;
}

/* Project section */

div#proj {position: absolute;
         width: 320px;
         height: 600px;
         background-color:rgba(236,246,192,1);
         left: 60%;
         top: 700px;
         box-shadow: 6px 6px 10px #666;
         z-index: 15;
}
#projTool {color: red;
}
#projTool:active{color: yellow;
}
#projTitle {margin: 0 0 0 110px;
}

/* Lang section */

div#lang {position: absolute;
         width: 320px;
         height: 600px;
         background-color:rgba(236,246,192,1);
         left:90%;
         top: 700px;
         box-shadow: 6px 6px 10px #666;
         z-index: 15;

}
#langTool {color: red;
}
#langTool:active{color: yellow;
}
#langTitle {margin: 0 0 0 100px;
  
