
<<<<<<< HEAD
/* All style should go in this document.
	} */

body {background: url("IMG_3279.JPG");
      background-attachment: fixed;
      color: white;

}

h1	{text-align: center;
	margin: 0px;
	color: black;
=======
/* All style should go in this document. */
h1	{color: black;
	text-align: center;
	margin: 0px;
>>>>>>> master
    }



h3#phone 	{display: inline;
			 position: absolute;
			 left; 20px;
<<<<<<< HEAD
			 color: black;
=======
>>>>>>> master
			}

h3#address 	{display: inline;
			position: absolute;
			left: 520px;
<<<<<<< HEAD
			color: black;
=======
>>>>>>> master
			}

h3#email	{display:inline;
			position: absolute;
			right: 20px;
<<<<<<< HEAD
			color: black;
=======
>>>>>>> master
			}

#div1 p {font-size:18px;
		}

p   {font-size: 15px;
<<<<<<< HEAD
=======
     color: black;
>>>>>>> master
	}

.col1 {width: 100px;
		text-align: left;
	}

.col2 {width: 700px;
		text-align: left;}


#pic1 {position: absolute;
	   top: 500px;
	   right: 200px;
	   width: 200px;
       height: 300px;
       transform: rotate(90deg);
      -moz-transform: rotate(90deg);
<<<<<<< HEAD
      -webkit-transform: rotate(90deg);  
=======
      -webkit-transform: rotate(90deg); 
>>>>>>> master
    }

#skills {position: absolute;
		left: 40px
	}


#edu1 {position: absolute;
   	   left: 10px;
   	}

#edu2 {position: absolute;
	  display: inline;
	  left: 117px;
	}

#edu3 {position: absolute;
	  display: inline;
		left: 117px;
	}

#div1:hover {background-color: #99ff99;
<<<<<<< HEAD
	         color: black;
}

#div2:hover {background-color: #99ccff;
	         color: black;
}

#div3:hover {background-color: #ff99cc;
	         color: black;
}

#div4:hover {background-color: #ff5050;
	         color: black;
}

#div5:hover {background-color: #ccff33;
	         color: black;
=======
}

#div2:hover {background-color: #99ccff;
}

#div3:hover {background-color: #ff99cc;
}

#div4:hover {background-color: #ff5050;
}

#div5:hover {background-color: #ccff33;
>>>>>>> master
}
 